<ion-view view-title="{{vendedor}}"  cache-view="false">
  <ion-content>
    
    
    <div class="card">
      <div class="item item-divider">
        {{filial}}
      </div>
    
        </div>
      
      <ion-list>
        <ion-item ng-repeat="arquivo in arquivos" href="#/app/download/{{arquivo.id}}">
          {{arquivo.title}}
        </ion-item>
      </ion-list>
    
      
      
    
    
  </ion-content>
</ion-view>
