
<ion-view hide-nav-bar="true" class="background">
  <ion-content padding="true" >
  
  <div class="row responsive-sm responsive-lg">
    

    <div class="row">

      <!-- <div class="col col-33"></div> -->
      <div class="col col-33 col-offset-33">
      <img ng-src="img/ibiapp-white.png" class="logo-login" />
      <br>
      <br> 
      <br>
        
        <div class="list form-login">
          <label class="item item-input">
            <span class="input-label">Codigo</span>
            <input ng-model="data.codigo" type="number">
          </label>
        </div>
        <button class="button btn-login" ng-click="login()" >
          Entrar
        </button>

      </div>
    </div>
    
  </div>
    
  </ion-content>
</ion-view>
